:root {
  --indigo-400: rgb(129, 140, 248);
  --indigo-500: rgb(99, 102, 241);
}

::-webkit-scrollbar {
  appearance: none;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--indigo-500);
  border-radius: 6px;
}
